.product-container{
  display: flex;
  padding: 20px;
}
.product-gallery{
  width: 400px;
}
.product-details{
  margin-top: 30px;
  padding-left: 40px;
}
.size-btn{
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.selected{
  background-color: tomato;
  padding: 10px;
  border: none;
  font-size: 2rem;
  margin: 5px;
  cursor: pointer;
  color: white;
}

.buy-btn{
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #2abbe8;
  border: none;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 5px;
}
